@model ViewEvents

@{
    Layout = "~/Views/Shared/_Layout_Client.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Authority of Civil Aviatin | Media center</title>
    <link rel="stylesheet" href="~/css/output.css">
    <link rel="stylesheet" href="~/css/clientStyles.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <div class="container mx-auto flex flex-col items-center overflow-hidden">
        <div id="events-section" class="px-12 py-8 w-full">
            <div class="events-header flex flex-col md:flex-row justify-between w-full">

                <h2 class="text-3xl font-bold">Events</h2>
                <div class="searchEvent flex items-center">
                    <input type="search" name="" placeholder="Search for an event..." id="searchEventInput" class="w-72 h-10 rounded-xl border-2 px-2 py-1">
                    <button class="w-10 h-10 rounded-xl border-2 ml-2">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div class="sort-by flex w-full md:w-fit py-2 items-center justify-between md:justify-center ">
                    <h3 class="text-md mr-2">Sort by</h3>
                    <select id="selector" name="selector" class="text-md border rounded-full px-2">
                        <option value="newest">Newest</option>
                        <option value="category">Category</option>
                    </select>
                </div>
            </div>
            <p id="Empty"></p>
            <div id="events" class="events grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5 3xl:grid-cols-5 gap-y-4 gap-x-8 h-fit my-6 justify-between">
                @foreach (var singleEvent in Model.EventData)
                {
                    <div class="event-card flex flex-col col-3 h-[22rem] bg-white border border-yellow-700 rounded-xl w-full relative overflow-hidden" attendees-list=@Model.GetAttendees(singleEvent.event_id) event-id="@singleEvent.event_id">
                        <div id="event-id-div" class="hidden">
                            <span id="event-id" class="hidden">@singleEvent.event_id</span>
                        </div>

                        <div class="card-img overflow-hidden w-full h-[40%] relative bg-gray-500 bg-gray-300">
                            <img class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover m-auto min-w-full min-h-full w-auto h-auto" src=@singleEvent.event_image alt="">
                        </div>

                        <div class="card-date w-14 h-14 rounded-xl right-[16%] top-[30%] bg-yellow-600 flex text-center rounded-lg absolute inset-x-[65%] inset-y-[26%] text-xl font-sans leading-tight text-white">
                            <div class="text-2xl leading-none flex flex-col justify-center my-auto font-semibold w-full h-full">
                                <h3 class="text-2xl h-fit p-0 m-0 leading-none">@singleEvent.event_date.Day</h3>
                                <p class="text-[1rem] h-fit p-0">@singleEvent.event_date.ToString("MMM")</p>
                            </div>
                        </div>

                        <div class="card-info h-[60%] px-4 pt-7 pb-4 flex-col text-yellow-700 flex grow justify-between">
                            <div class="card-text text-justify overflow-hidden">
                                <div class="card-header h-fit font-bold text-xl text-2xl">@singleEvent.event_name</div>
                                <div class="card-desc h-1/2 text-sm mt-2 h-20">@singleEvent.event_description</div>
                            </div>

                            <div class="card-buttons mt-2 flex place-content-between">
                                <button id="show-button" class="button w-1/2 show-button mx-1 outline-0 h-10 rounded-full border border-yellow-700">View</button>
                                <!-- h-10 mx-1 my-2 rounded-full border border-yellow-700 w-1/2 -->
                                <button id="register-button" class="button w-1/2 register-button mx-1 outline-0 h-10 rounded-full text-white bg-yellow-600 hover:bg-yellow-500 ease-linear duration-200">Register</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <dialog id="registration-dialog" class="registration-dialog w-[90%] md:w-[55%] bg-white h-fit max-h-[70vh] md:h-[28rem] drop-shadow-xl mx-auto rounded-xl" close>
        <div class="registration-dialog-wrapper w-full flex flex-col items-end justify-around overflow-hidden py-8 px-4 md:px-10">
            <div class="registration-dialog-info flex flex-col md:flex-row gap-8 items-start">
                <div id="event-summary" class="relative md:w-1/2 h-80 hidden md:flex flex-col rounded-xl drop-shadow-xl overflow-hidden bg-white">
                    <div class="event-summary-image w-full h-1/2 overflow-hidden">
                        <img class="w-full" src="https://images.pexels.com/photos/724921/pexels-photo-724921.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                    </div>
                    <div class="event-summary-subject text-xl font-bold px-5 py-2">
                        <h2>المنتدى الدولي للطيران</h2>
                    </div>
                    <div class="event-summary-brief text-sm px-5 py-2 text-justify">
                        <p>المنتدى الدولي للطيران. المنتدى الدولي للطيران. المنتدى الدولي للطيران. </p>
                    </div>
                    <div class="event-summary-location flex px-5 py-2">
                        <div class="bi-geo-alt-fill ml-1"></div>
                        <p class="text-sm">
                            To get the event location
                            <a class="text-sm" href="https://www.google.com/maps/dir//gcaa+location+dubai/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3e5f5d76d0b6795b:0xb872340e32ae544a?sa=X&ved=2ahUKEwio4-jY7LqAAxXkTKQEHXnRBIoQ9Rd6BAhZEAA&ved=2ahUKEwio4-jY7LqAAxXkTKQEHXnRBIoQ9Rd6BAhgEAQ">click here</a>
                        </p>
                    </div>
                    <div class="event-summary-updates px-5 py-2 flex w-full justify-between">
                        <div class="event-summary-date">
                            <p><i class="bi-calendar-date ml-2"></i>31-07-2023</p>
                        </div>
                        <div class="event-summary-status">
                            <p><i class="bi-check-lg ml-2"></i>At time</p>
                        </div>
                    </div>
                </div>

                <div id="registered-event-subject" class="md:hidden">
                    <p class="text-gray-300 text-sm">Registring for</p>
                    <div></div>
                </div>

                <div id="registration-form" class="w-full md:w-1/2 h-80 bg-white p-0 md:p-2 rounded-xl flex flex-col justify-between">
                    <div id="name" class="w-full p-1">
                        <label for="attendee-name">Full name</label>
                        <input id="attendee-name" type="text" class="" placeholder="Full name" required title="afdsf">
                    </div>
                    <div id="email" class="w-full p-1">
                        <label for="attendee-email">Email</label>
                        <input id="attendee-email" type="email" class="" placeholder="Email" required>
                    </div>
                    <div id="phone" class="w-full p-1">
                        <label for="attendee-phone">Phone number</label>
                        <input id="attendee-phone" type="number" class="" placeholder="Phone number" required>
                    </div>
                    <div class="notify-me flex w-full h-12 gap-1 py-2">
                        <div class="flex justify-start notify-via-phone w-1/2">
                            <input class="m-0" type="checkbox" name="via-phone-number" id="via-phone-number">
                            <label for="via-phone-number" class="ml-2 text-sm w-fit">Notify via WhatsApp</label>
                        </div>
                        <div class="flex justify-start notify-via-email w-1/2">
                            <input class="m-0" type="checkbox" name="via-email" id="via-email">
                            <label for="via-phone-number" class="ml-2 text-sm w-fit">Notify via Email</label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="registration-dialog-buttons" class="w-full flex align-start justify-end gap-4 pt-4">
                <button class="cancel-button bg-white border border-yellow-600 text-yellow-600 rounded-lg w-20 h-10">Cancel</button>
                <input value="Confirm" type="submit" id="confirm-register-button" class="confirm-register-button bg-yellow-600 text-white rounded-lg w-20 h-10">
            </div>

        </div>

        <div id="registration-loader" class="registration-loader flex items-center justify-center">
            <h2 class="mt-24">Registering you....</h2>
            <div class="loading-circle"></div>
        </div>

    </dialog>

    <dialog id="view-event-dialog" class="view-event-dialog md:w-[55%] bg-white max-h-[80vh] md:h-[48rem] drop-shadow-xl mx-auto py-5 px-5 md:py-10 md:px-10 rounded-xl overflow-y-auto" close>
        <div class="dialog-wrapper w-full h-full flex flex-col justify-between items-end">
            <div class="registration-dialog-info flex md:flex-row flex-col gap-4 md:gap-8 items-start h-fit w-full">
                <div class="viewed-event-image-wrapper overflow-hidden w-full h-[40%] bg-gray-300 relative md:w-1/2 md:h-64 rounded drop-shadow-xl">
                    <img id="view-event-img" class="viewed-event-image absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover m-auto min-w-full min-h-full w-auto h-auto" src="https://images.pexels.com/photos/724921/pexels-photo-724921.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
                <div class="viewed-event-details flex flex-col items-start w-full md:w-1/2 md:h-64">
                    <div class="viewed-event-header h-fit">
                        <div class="viewed-event-title  mb-2">
                            <p class="text-xs text-gray-400 leading-7">Event subject</p>
                            <h3 id="view-event-title" class="text-lg font-semibold">الحدث الفلاني</h3>
                        </div>
                    </div>
                    <div class="viewed-event-when h-fit flex w-full justify-between gap-4 md:mb-2">
                        <div class="viewed-event-date w-1/2">
                            <p class="text-xs text-gray-400 leading-7">Event date</p>
                            <h3 id="view-event-date" class="text-lg font-semibold">2023-10-21</h3>
                        </div>
                        <div class="viewed-event-time w-1/2 ">
                            <p class="text-xs text-gray-400 leading-7">Event time</p>
                            <h3 id="view-event-time" class="text-lg font-semibold">14:30:00 PM</h3>
                        </div>
                    </div>
                    <div class="viewed-event-location h-fit">
                        <p class="text-xs text-gray-400 mb-2">Event location</p>
                        <a id="view-event-location" href="#" class="underline text-lg" target="_blank"><h3 class="text-lg font-semibold">أبراج الحبتور. دبي, الإمارات العربية المتحدة</h3></a>
                    </div>
                </div>
            </div>

            <div class="viewed-event-brief my-4 w-full">
                <p class="text-xs text-gray-400 mb-2">Event brief</p>
                <h3 id="view-event-desc" class="font-semibold text-justify">تفاصيل عن الحدث الفلانيتفاصيل عن الحدث الفلانيتفاصيل عن الحدث الفلانيتفاصيل عن الحدث الفلانيتفاصيل عن الحدث الفلانيتفاصيل عن الحدث الفلانيتفاصيل عن الحدث الفلاني</h3>
            </div>

            <div class="viewed-event-buttons flex items-center w-full h-fit">
                <a href="#" target="_blank" class="viewed-event-reminder flex w-full h-fit">
                    <i class="bi-calendar mr-3"></i>
                    <p class="underline">Add to calendar</p>
                </a>
                <button id="viewed-event-close-button" class="viewed-event-close-button bg-yellow-600 rounded text-white px-4 py-2">Close</button>
            </div>
        </div>
    </dialog>

    <dialog id="loginDialog" class="log-in w-[30%] h-fit bg-white rounded-lg relative" close>
        <div class="log-in-wrapper w-full h-full p-8 mt-[4.5em]">
            <form class="w-full h-full flex flex-col items-center justify-between" action="">
                <div class="email-phone-input w-full h-fit mb-2">
                    <label for="email-phone">Email/ phone number</label>
                    <input id="email-phone" type="text" class="w-full h-10 border border-yellow-600 rounded-sm text-xl mt-1">
                </div>
                <div class="password-input w-full h-fit mb-2">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="w-full h-10 border border-yellow-600  rounded-sm text-xl mt-1">
                </div>
                <div class="form-buttons w-full h-fit flex gap-x-10 my-6">
                    <button class="submit w-1/2 h-10 bg-yellow-600 overflow-hidden relative border border-gray-200 shadow-xl rounded-md">
                        <img class="absolute top-0 left-0 bottom-0 right-0 m-auto" src="https://www.abjaddesign.com/application/files/8015/8874/1892/Abjad_12_UAE_Pass_01.jpg" alt="f">
                    </button>
                    <button class="submit w-1/2 h-10 border border-yellow-600 bg-yellow-600 text-white shadow-xl rounded-md">Log in</button>
                </div>
                <p><a href="">Remeber me</a></p>
                <p class="mt-1 text-gray-300 text-xs">or</p>
                <p class="guest-button text-gray-300 text-xs cursor-pointer">Continue as a guest</p>
            </form>
        </div>
    </dialog>


    <script src="~/js/Client/registrationFor.js"></script>
    <script src="~/js/Client/searchEvent.js"></script>
    <script src="~/js/Client/viewEvent.js"></script>
    <script src="~/js/Client/handleMutations.js"></script>
    <script type="text/jscript">
        document.querySelectorAll('.show-button').forEach((showButton) => {
            showButton.addEventListener("click", (e) => {
                viewDialog.showModal()
                viewDialog.removeAttribute("close")
                var events = @Html.Raw(Json.Serialize(Model.EventData));
                var eventID = e.target.parentElement.parentElement.parentElement.getAttribute('event-id');
                console.log('event id is ' + eventID.textContent)
                for (var index in events) {
                    if (events[index].event_id.toString() === eventID) {
                        var date = new Date(String(events[index].event_date));
                        var time = new Date(String(events[index].event_time));
                        document.getElementById('view-event-img').src = events[index].event_image.toString();
                        document.getElementById('view-event-title').textContent = events[index].event_name.toString();
                        document.getElementById('view-event-desc').textContent = events[index].event_description.toString();
                        document.getElementById('view-event-date').textContent = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                        document.getElementById('view-event-time').textContent = time.toLocaleTimeString();
                        document.getElementById('view-event-location').textContent = events[index].event_location.toString();
                    }
                }
            })
        })
    </script>

</body>
</html>