@model ViewNews

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.css"> -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/output.css">
    <title data-href="News">EMS - Events</title>
    <script src="https://cdn.tiny.cloud/1/l0pb1m0ex7yy22qgfa8o5sd55af14wf4hwigshkmw42znoj7/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body class="lg:flex relative">
    <div class="time-and-date my-4">
        <h1 id="today" class="text-2xl font-bold">الاربعاء, 05 يوليو 2023</h1>
    </div>

    <div id="news-and-studio" class="gap-6">
        <div id="studio" class="lg:block studio py-5 grow lg:w-2/5 lg:w-[30%]">
            <h2 class="text-2xl font-bold">Studio</h2>
            <div id="studio-section" class="studio-section my-5 p-3 border border-yellow-600 rounded-xl flex flex-col items-end h-96">
                <input id="attachFiles" class="w-full my-3" type="file" onchange="displayFiles()" />
                <label for="attachFiles" class="attachFilestext-center text-center mb-3 bg-transparent text-sm h-8 w-full flex items-center cursor-pointer border border-yellow-600 text-yellow-600 rounded-lg px-2 pointer">Attach files</label>

                <hr><hr>
                <div id="attachedFiles" class="w-full px-0.5 py-2 flex flex-col items-center">
                    <div class="file flex mb-2 w-full items-center">
                        <div class="file-icon w-1/12 mr-4">
                            <i class="bi bi-file-earmark text-2xl"></i>
                        </div>

                        <div class="file-details-down flex justify-between grow">
                            <div class="file-details flex flex-col w-8/10">
                                <h4 class="file-name w-full font-semibold">File Name #1</h4>
                                <div class="flex">
                                    <span class="file-type text-xs text-gray-300">PDF</span>
                                    <span class="file-size inline text-xs text-gray-300">- 1 MB</span>
                                </div>
                            </div>
                            <div class="download w-1/12">
                                <button class="w-full h-full">
                                    <a href="">
                                        <i class="bi bi-download w-full h-full"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="file flex mb-2 w-full items-center">
                        <div class="file-icon w-1/12 mr-4">
                            <i class="bi bi-file-earmark text-2xl"></i>
                        </div>

                        <div class="file-details-down flex justify-between grow">
                            <div class="file-details flex flex-col w-8/10">
                                <h4 class="file-name w-full font-semibold">File Name #1</h4>
                                <div class="flex">
                                    <span class="file-type text-xs text-gray-300">PDF</span>
                                    <span class="file-size inline text-xs text-gray-300">- 1 MB</span>
                                </div>
                            </div>
                            <div class="download w-1/12">
                                <button class="w-full h-full">
                                    <a href="">
                                        <i class="bi bi-download w-full h-full"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="file flex mb-2 w-full items-center">
                        <div class="file-icon w-1/12 mr-4">
                            <i class="bi bi-file-earmark text-2xl"></i>
                        </div>

                        <div class="file-details-down flex justify-between grow">
                            <div class="file-details flex flex-col w-8/10">
                                <h4 class="file-name w-full font-semibold">File Name #1</h4>
                                <div class="flex">
                                    <span class="file-type text-xs text-gray-300">PDF</span>
                                    <span class="file-size inline text-xs text-gray-300">- 1 MB</span>
                                </div>
                            </div>
                            <div class="download w-1/12">
                                <button class="w-full h-full">
                                    <a href="">
                                        <i class="bi bi-download w-full h-full"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="file flex mb-2 w-full items-center">
                        <div class="file-icon w-1/12 mr-4">
                            <i class="bi bi-file-earmark text-2xl"></i>
                        </div>

                        <div class="file-details-down flex justify-between grow">
                            <div class="file-details flex flex-col w-8/10">
                                <h4 class="file-name w-full font-semibold">File Name #1</h4>
                                <div class="flex">
                                    <span class="file-type text-xs text-gray-300">PDF</span>
                                    <span class="file-size inline text-xs text-gray-300">- 1 MB</span>
                                </div>
                            </div>
                            <div class="download w-1/12">
                                <button class="w-full h-full">
                                    <a href="">
                                        <i class="bi bi-download w-full h-full"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>

        <div id="media" class="lg:block studio py-5 grow lg:w-2/5 lg:w-[30%]">
            <h2 class="text-2xl font-bold">Media</h2>
            <div id="studio-section" class="studio-section my-5 p-3 border border-yellow-600 rounded-xl flex flex-col items-end h-96">
                <input id="attachFiles" class="w-full my-3" type="file" onchange="displayFiles()" />
                <label for="attachFiles" class="attachFilestext-center text-center mb-3 bg-transparent text-sm h-8 w-full flex items-center cursor-pointer border border-yellow-600 text-yellow-600 rounded-lg px-2 pointer">Attach media</label>

                <hr><hr>
                <div id="attachedFiles" class="w-full px-0.5 py-2 flex flex-col items-center">
                    <div class="file flex mb-2 w-full items-center">
                        <div class="file-icon w-1/12 mr-4">
                            <i class="bi bi-camera-video text-2xl"></i>
                        </div>

                        <div class="file-details-down flex justify-between grow">
                            <div class="file-details flex flex-col w-8/10">
                                <h4 class="file-name w-full font-semibold">Media Name #1</h4>
                                <div class="flex">
                                    <span class="file-type text-xs text-gray-300">MP4</span>
                                    <span class="file-size inline text-xs text-gray-300">- 2.6 MB</span>
                                </div>
                            </div>
                            <div class="link w-1/12">
                                <button class="w-full h-full">
                                    <a href="">
                                        <i class="bi bi-link w-full h-full"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="file flex mb-2 w-full items-center">
                        <div class="file-icon w-1/12 mr-4">
                            <i class="bi bi-camera-video text-2xl"></i>
                        </div>

                        <div class="file-details-down flex justify-between grow">
                            <div class="file-details flex flex-col w-8/10">
                                <h4 class="file-name w-full font-semibold">Media Name #1</h4>
                                <div class="flex">
                                    <span class="file-type text-xs text-gray-300">MP4</span>
                                    <span class="file-size inline text-xs text-gray-300">- 2.6 MB</span>
                                </div>
                            </div>
                            <div class="link w-1/12">
                                <button class="w-full h-full">
                                    <a href="">
                                        <i class="bi bi-link w-full h-full"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="file flex mb-2 w-full items-center">
                        <div class="file-icon w-1/12 mr-4">
                            <i class="bi bi-camera-video text-2xl"></i>
                        </div>

                        <div class="file-details-down flex justify-between grow">
                            <div class="file-details flex flex-col w-8/10">
                                <h4 class="file-name w-full font-semibold">Media Name #1</h4>
                                <div class="flex">
                                    <span class="file-type text-xs text-gray-300">MP4</span>
                                    <span class="file-size inline text-xs text-gray-300">- 2.6 MB</span>
                                </div>
                            </div>
                            <div class="link w-1/12">
                                <button class="w-full h-full">
                                    <a href="">
                                        <i class="bi bi-link w-full h-full"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="file flex mb-2 w-full items-center">
                        <div class="file-icon w-1/12 mr-4">
                            <i class="bi bi-camera-video text-2xl"></i>
                        </div>

                        <div class="file-details-down flex justify-between grow">
                            <div class="file-details flex flex-col w-8/10">
                                <h4 class="file-name w-full font-semibold">Media Name #1</h4>
                                <div class="flex">
                                    <span class="file-type text-xs text-gray-300">MP4</span>
                                    <span class="file-size inline text-xs text-gray-300">- 2.6 MB</span>
                                </div>
                            </div>
                            <div class="link w-1/12">
                                <button class="w-full h-full">
                                    <a href="">
                                        <i class="bi bi-link w-full h-full"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="file flex mb-2 w-full items-center">
                        <div class="file-icon w-1/12 mr-4">
                            <i class="bi bi-camera-video text-2xl"></i>
                        </div>

                        <div class="file-details-down flex justify-between grow">
                            <div class="file-details flex flex-col w-8/10">
                                <h4 class="file-name w-full font-semibold">Media Name #1</h4>
                                <div class="flex">
                                    <span class="file-type text-xs text-gray-300">MP4</span>
                                    <span class="file-size inline text-xs text-gray-300">- 2.6 MB</span>
                                </div>
                            </div>
                            <div class="link w-1/12">
                                <button class="w-full h-full">
                                    <a href="">
                                        <i class="bi bi-link w-full h-full"></i>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>

                    
                   
                </div>


            </div>
        </div>
        
        
        <div id="news-section" class="lg:w-3/5 lg:w-[70%] py-5">
            <h2 class="text-2xl font-bold">Add News</h2>
            <div id="create-new" class="my-5 py-3 px-5 h-fit border border-yellow-600 rounded-xl flex flex-col items-end relative">

                <div class="news-header w-full mb-2">
                    <h2 class="text-xl font-bold">News Title</h2>
                    <input type="text" class="new-header-input w-full h-12 my-2 drop-shadow-lg " placeholder="News Title" />
                </div>
                <div id="new-details" class="new-details w-full">
                    <h2 class="text-xl font-bold">News Details</h2>
                    <div class="border border-yellow-600 rounded-md">

                        <textarea id="textarea" class="new-details-input w-full h-36 bg-white my-2 text-justify drop-shadow-lg" placeholder="Latest news here..kj."></textarea>
                    </div>
                </div>
                <div id="new-image" class="new-image w-full">
                    <div class="img-and-button flex flex-col h-24 my-2">
                        <div class="button mb-2">
                            <input id="new-image-upload-button" type="file" />
                            <label for="new-image-upload-button" class="bg-transparent text-sm h-8 w-fit flex items-center cursor-pointer border border-yellow-600 text-yellow-600 rounded-lg px-2 pointer">Attach Image</label>
                        </div>
                        <div class="new-img-wrapper max-h-16 grow rounded-xl overflow-hidden">
                            <img class="w-full" src="" alt="">
                        </div>
                    </div>
                </div>


                <!-- hide it since we are gonna use WYSIWYG text editor -->
                @* <div id="toolbar" class="hidden absolute bottom-[28%] right-8 flex justify-between w-32 mb-1 py-2 rounded-lg">
                <button onclick="applyBoldStyle()" class="bi-type-bold rounded-full w-8 h-8 flex items-center justify-center drop-shadow-lg hover:drop-shadow-lg p-0 bg-white text-yellow-600 bold-tool "></button>
                <button onclick="applyItalicStyle()" class="bi-type-italic rounded-full w-8 h-8 flex items-center justify-center drop-shadow-lg hover:drop-shadow-lg p-0 bg-white text-yellow-600 underline-tool "></button>
                <button onclick="applyUnderlineStyle()" class="bi-type-underline rounded-full w-8 h-8 flex items-center justify-center drop-shadow-lg hover:drop-shadow-lg p-0 bg-white text-yellow-600 italic-tool "></button>
                </div> *@



                <div id="news-section-buttons">
                    <button id="publish-new-button" class="bg-yellow-600 shadow-lg text-white bg-gradient-to-r from-yellow-600 to-yellow-500 rounded-lg p-2 w-20">Publish</button>
                    <button id="get-content-button">Get Content</button>
                </div>
            </div>

            <!--for text editor test purposes-->
            <div id="test"></div>




            <div id="news-container" class="news-container">
                @foreach (var article in Model.News)
                {
                    <div class="new my-5 p-3 h-fit border border-yellow-600 rounded-xl flex flex-col items-end">
                        <div class="new-img-wrapper h-48 w-full overflow-hidden rounded-xl drop-shadow-xl relative">
                            <img class="z-0 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover m-auto min-w-full min-h-full w-auto h-auto" src=@article.article_image alt="">
                        </div>
                        <div class="new-text p-3 w-full">
                            <div class="new-header my-2">
                                <div class="new-header-text flex justify-between w-full items-center relative">
                                    <h2 class="text-2xl font-bold my-1">@article.article_title</h2>
                                    <div class="manage-button bi-three-dots w-fit cursor-pointer"></div>
                                    <div class="new-manage hidden justify-around items-center w-20 h-16 absolute overflow-hidden z-50 right-0 top-[-54px] rounded-[.3em] text-sm text-left bg-white">
                                        <div class="manage-new px-2 py-0 text-lg cursor-pointer w-full edit-new hover:bg-[ rgb(235, 235, 235)]">Modify</div>
                                        <hr class=" w-5/6 bg-yellow-500 h-[2px]">
                                        <div class="manage-new px-2 py-0 text-lg cursor-pointer w-full remove-new hover:bg-[ rgb(235, 235, 235)]">Remove</div>
                                    </div>
                                </div>
                                <div class="new-date">
                                    <span>Posted on</span>
                                    <span class="new-date-written">@article.article_date</span>
                                </div>
                            </div>
                            <div class="new-details">
                                <p id="article-details"></p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

    </div>

    <script type="text/javascript">
        var singleArticle = @Html.Raw(Json.Serialize(Model.NewArticle));
        var articles = @Html.Raw(Json.Serialize(Model.News));
        for (var index in articles) { 
            document.getElementById('article-details').outerHTML = articles[index].article_details;
        }
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            tinymce.init({
                selector: 'textarea',
                plugins: [
                    'advlist', 'anchor', 'autolink', 'codesample', 'fullscreen', 'help',
                    'image', 'tinydrive', 'lists', 'link', 'media', 'preview',
                    'searchreplace', 'table', 'template', 'visualblocks', 'wordcount'
                ],
                toolbar: 'undo redo | bold italic underline strikethrough blocks | forecolor backcolor link |  fontfamily image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ],
                ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
            });

            var editor = tinymce.get('textarea');
            const getButton = document.getElementById("get-content-button");
            getButton.addEventListener("click", () => {
                var content = editor.getContent();
                console.log(editor);
                console.log(content);
                document.getElementById("test").innerHTML = content;

            })
        })
    </script>

    <script src="~/js/todayDate.js"></script>
    <script src="~/js/newNew.js"></script>
    <script src="~/js/media.js"></script>
    <script src="~/js/uploadNewImage.js"></script>
    <script type="text/jscript">
        publishNewButton.addEventListener('click', () => {
            var articleDesc = tinymce.get('textarea').getContent();
            console.log(articleDesc)
            var date = new Date();
            var combined = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds() + (date.getHours() >= 12 ? "PM" : "AM")
            singleArticle.article_title = newHeaderInputs.value;
            singleArticle.article_details = articleDesc;
            singleArticle.article_image = newImageLink.src;
            singleArticle.article_date = combined;
            console.log(singleArticle)
            $.ajax({
                type: "POST",
                url: "@Url.Action("AddArticle")",
                data: { newArticle: singleArticle },
                success: function (result) { console.log("Event creation success!"); window.location = result.url },
                error: function (req, status, error) { console.log(status) },
            });
            newHeaderInputs.value = "";
            newDetailInputs.value = "";
            newImageLink.src = "";
        });
    </script>

</body>
</html>